<main class="main">
  <div action="" class="main__form">
    <form class="main__containerInput">
      <label for="" class="main__label">Name</label>
      <input type="text" value="" class="main__input-name js-inputName" required="" />
      <label for="email" class="main__label">Email</label>
      <input type="email" value="" class="main__input-email js-inputEmail" required="" />
    </form>

    <button class="main__add js-btnAdd">Add email</button>
  </div>

  <table class="main__list js-list">
    <tr class="main__title js-title">
      <th class="main__name">Name</th>
      <th class="main__email">Email</th>
    </tr>
  </table>

  <div class="main__containerNext">
    <button class="main__next">Next</button>
  </div>
</main>
